

.ExercicioTree {

    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Situacao-Aluno{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 20px;
        padding: 20px   ;

        border: solid 1px white;


    }

    .div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div input{
        background-color: #282c34;
        color: white;

        border: solid 1px white;
        padding: 10px;

        font-size: 0.7em;
    }

    .div button{
        width: fit-content;

        background-color: #282c34;
        border: solid 1px white;
        color: white;

        padding: 10px 5px;

        margin: 10px;
    }
    .div button:hover{
        cursor: pointer;
        transform: scale(1.05, 1.05);

        background-color: #535863;
    }
}