
.Card{
    border: solid 1px white;

    margin: 10px;
    padding: 10px;

    
    p{
        line-height: 1em;
    }
    
    
    .EstiloUm{
        width: 100vh;
        height: 50vh;
        
        .agrupamento{
            width: 50vh;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        .image{
            margin-top: -10px;
            height: 40vh;
        }
    }

    .EstiloDois{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        width: 100vh;
        height: 40%;

        .image{
            height: 10;
        }

        .agrupamento{
            width: 90%;
        }
    }

}